body{
	background-color: white;
}
.icons a{
	display: inline-block;
	height: 50px;
	width: 50px;
	font-size: 22px;
	line-height: 50px;
	border: 1.5px solid black;
	border-radius: 100%;
	text-align: center;
	margin-right: 20px;
}
.icons a:visited { 
    color: black;
}
.icons a:hover{
	background-color: black;
	color: white;
	box-shadow: 5px 5px 5px grey;
}
